<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.example.isuhar.jbmrus" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:displayOptions="useLogo|showHome"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_action_shopping_cart"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/catalog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.CatalogProvider"
            android:authorities="app.com.example.isuhar.jbmrus" />

        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".BuyActivity"
            android:label="@string/title_activity_buy"
            android:parentActivityName=".CartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.com.example.isuhar.jbmrus.CartActivity" />
        </activity>
        <activity
            android:name=".OffersActivity"
            android:label="@string/title_activity_offers"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>
